.popup__button {
  max-width: 515px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 465px) {
  .popup__button {
    max-width: 430px;
    width: calc(100% - 19px * 2);
    margin-bottom: 13px;
  }
}
