.popup__content {
  margin: 0;
  grid-area: popup__content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
